*/enabled/*
.DS_Store
.rvmrc
#custom/*
#!custom/example.bash
#aliases/custom.aliases.bash
#completion/custom.completion.bash
#lib/custom.bash
#plugins/custom.plugins.bash
*.swp
.*.un~
custom
custom/done.txt
custom/plugin.bash
custom/report.txt
custom/todo.txt
